<div class="convertion_form">
	<%= form_tag(convertion_path, method: :post) do%>
		<select id="currency_in" name="currency_in" >
			<% @res.each do |currency|%>
				<option value="<%=currency.country%>"><%= currency.country%></option>
			<%end%>
		</select>
		<input type="number" name="amount">
		<select name="currency_out" >
			<% @res.each do |currency|%>
				<option value="<%=currency.country%>"><%= currency.country%></option>
			<%end%>
		</select>
		<%= submit_tag("convertion")%>
	<%end%>
	<p><%= @output%></p>
</div>